.column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    padding: 48px 0 80px;
    min-height: calc(100vh - 100px);
    display: grid;
    position: relative;
}

.hero__inner {
    justify-content: center;
}

.hero__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.hero__avatar img {
    width: 96px;
    height: 96px;
    object-fit: contain
}

.hero__title {
    font-size: 32px;
    font-weight: 600;
    color: var(--text-heading);
    line-height: 38px;
}

.hero__designation {
    background: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 14px;
    margin: 0;
}

.hero__desc {
    color: var(--text-body);
    max-width: 720px;
    margin: 0 0 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.hero__cta {
    display: flex;
    gap: 12px;
    margin: 16px 0;
}


@media (max-width: 760px) {
    .hero__inner {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center
    }

    .hero__avatar {
        margin-bottom: 8px
    }

}