
.menu-container {
  position: relative;
  z-index: 1000;
}

/* Hamburger (2 lines) */
.hamburger {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1010;
}

.hamburger .line {
  width: 100%;
  height: 2px;
  background: var(--other-color);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburger.open .top {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.open .bottom {
  transform: translateY(-9px) rotate(-45deg);
}


.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

