* {
    box-sizing: border-box
}

html,
body {
    height: 100%
}

html.no-js .nav {
    display: block
}


img {
    max-width: 100%;
    display: block
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}